USE [master]
GO
/****** Object:  Database [QUANLYBANGDIA]    Script Date: 4/13/2019 10:18:22 PM ******/
CREATE DATABASE [QUANLYBANGDIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYBANGDIA', FILENAME = N'D:\Program\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QUANLYBANGDIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYBANGDIA_log', FILENAME = N'D:\Program\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QUANLYBANGDIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYBANGDIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYBANGDIA]
GO
/****** Object:  Table [dbo].[THONGTINCANHAN]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINCANHAN](
	[CMND] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[GIOITINH] [int] NOT NULL,
	[NGAYSINH] [date] NULL,
 CONSTRAINT [THONGTINCANHAN_PK] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[NGAYHETHAN] [date] NULL,
 CONSTRAINT [KHACHHANG_PK] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_THONGTINKHACHHANG]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--========== VIEW --==========
CREATE VIEW [dbo].[VIEW_THONGTINKHACHHANG] AS
SELECT	T.CMND, K.MAKH, HOTEN, DIENTHOAI, DIACHI, GIOITINH, NGAYSINH, NGAYHETHAN
FROM	THONGTINCANHAN T INNER JOIN KHACHHANG K
                                  ON T.CMND = K.CMND
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[MOTA] [nvarchar](100) NULL,
 CONSTRAINT [NHANVIEN_PK] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_THONGTINNHANVIEN]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_THONGTINNHANVIEN] AS
SELECT	T.CMND, N.MANV, HOTEN, DIENTHOAI, DIACHI, GIOITINH, NGAYSINH, MOTA
FROM	THONGTINCANHAN T INNER JOIN NHANVIEN N
                                  ON T.CMND = N.CMND
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[NGAYLAP] [date] NULL,
	[MAKH] [varchar](10) NOT NULL,
 CONSTRAINT [HOADON_PK] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MABD] [nvarchar](10) NOT NULL,
	[SONGAYDUOCMUON] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[TINHTRANG] [int] NOT NULL,
 CONSTRAINT [CHITIETHOADON_PK] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_HOADON]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_HOADON] AS
SELECT	H.MAHD, H.MAKH, H.NGAYLAP, C.MABD, C.SONGAYDUOCMUON, C.SOLUONG, C.TINHTRANG
FROM	HOADON H INNER JOIN CHITIETHOADON C
                          ON H.MAHD = C.MAHD
GO
/****** Object:  Table [dbo].[BANGDIA]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIA](
	[MABD] [nvarchar](10) NOT NULL,
	[TENBD] [nvarchar](50) NOT NULL,
	[HANGSANXUAT] [nvarchar](50) NOT NULL,
	[GHICHU] [nvarchar](100) NULL,
	[DONGIA] [money] NOT NULL,
	[TINHTRANG] [int] NULL,
	[THELOAI] [nvarchar](30) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
 CONSTRAINT [BANGDIA_PK] PRIMARY KEY CLUSTERED 
(
	[MABD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [varchar](30) NOT NULL,
	[MATKHAU] [nvarchar](128) NOT NULL,
	[LOAITK] [smallint] NOT NULL,
	[MANV] [varchar](10) NOT NULL,
 CONSTRAINT [TAIKHOAN_PK] PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NHANVIEN] ([MANV], [CMND], [MOTA]) VALUES (N'NV00001', N'111111111', N'ADMIN')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU], [LOAITK], [MANV]) VALUES (N'admin', N'admin', 1, N'NV00001')
INSERT [dbo].[THONGTINCANHAN] ([CMND], [HOTEN], [DIENTHOAI], [DIACHI], [GIOITINH], [NGAYSINH]) VALUES (N'111111111', N'Buffalo Coder', N'0982505701', N'IUH', 1, CAST(N'1999-02-24' AS Date))
ALTER TABLE [dbo].[BANGDIA] ADD  CONSTRAINT [BANGDIA_DF_TINHTRANG]  DEFAULT ((1)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [HOADON_DF_NGAYLAP]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [KHACHHANG_DF_NGAYHETHAN]  DEFAULT (dateadd(year,(3),getdate())) FOR [NGAYHETHAN]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CHITIETHOADON_FK_BANGDIA] FOREIGN KEY([MABD])
REFERENCES [dbo].[BANGDIA] ([MABD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [CHITIETHOADON_FK_BANGDIA]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HOADON_FK_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HOADON_FK_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [KHACHHANG_FK] FOREIGN KEY([CMND])
REFERENCES [dbo].[THONGTINCANHAN] ([CMND])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [KHACHHANG_FK]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [NHANVIEN_FK] FOREIGN KEY([CMND])
REFERENCES [dbo].[THONGTINCANHAN] ([CMND])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [NHANVIEN_FK]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [TAIKHOAN_FK] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [TAIKHOAN_FK]
GO
ALTER TABLE [dbo].[BANGDIA]  WITH CHECK ADD  CONSTRAINT [BANGDIA_CK_TINHTRANG] CHECK  (([TINHTRANG]=(1) OR [TINHTRANG]=(0)))
GO
ALTER TABLE [dbo].[BANGDIA] CHECK CONSTRAINT [BANGDIA_CK_TINHTRANG]
GO
ALTER TABLE [dbo].[THONGTINCANHAN]  WITH CHECK ADD  CONSTRAINT [THONGTINCANHAN_CK_GIOITINH] CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [dbo].[THONGTINCANHAN] CHECK CONSTRAINT [THONGTINCANHAN_CK_GIOITINH]
GO
/****** Object:  StoredProcedure [dbo].[RESET_DATABASE]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--========== FUNCTION ==========--
CREATE PROCEDURE [dbo].[RESET_DATABASE] AS 
BEGIN
	DELETE FROM CHITIETHOADON
	DELETE FROM HOADON
	DELETE FROM BANGDIA
	DELETE FROM KHACHHANG
	DELETE FROM TAIKHOAN WHERE TENTAIKHOAN != 'admin'
	DELETE FROM NHANVIEN WHERE MANV != (
			SELECT MANV
			FROM TAIKHOAN
			WHERE TENTAIKHOAN = 'admin'
	)
	DELETE FROM KHACHHANG
	DELETE FROM THONGTINCANHAN WHERE CMND != (
			SELECT CMND
			FROM TAIKHOAN T JOIN NHANVIEN N ON T.MANV = N.MANV
			WHERE TENTAIKHOAN = 'admin'
	)
END
GO
/****** Object:  StoredProcedure [dbo].[THANHTOAN_HOADON]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[THANHTOAN_HOADON] (@maHoaDon VARCHAR(10)) AS 
BEGIN
	UPDATE CHITIETHOADON
	SET TINHTRANG = 1
	WHERE MAHD = @maHoaDon

	UPDATE BANGDIA
	SET SOLUONGTON = SOLUONGTON + (SELECT SOLUONG FROM CHITIETHOADON WHERE MAHD = @maHoaDon)
	WHERE MABD = (SELECT MABD FROM CHITIETHOADON WHERE MAHD = @maHoaDon)
END
GO
/****** Object:  Trigger [dbo].[TRG_CAPNHATHOADON]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TRG_CAPNHATHOADON] 
ON [dbo].[CHITIETHOADON] AFTER UPDATE AS
BEGIN
   UPDATE BANGDIA 
   SET SOLUONGTON = SOLUONGTON -
	   (SELECT SOLUONG FROM inserted WHERE MABD = B.MABD) +
	   (SELECT SOLUONG FROM deleted WHERE MABD = B.MABD)
   FROM BANGDIA B JOIN deleted D 
   ON B.MABD = D.MABD
end
GO
ALTER TABLE [dbo].[CHITIETHOADON] ENABLE TRIGGER [TRG_CAPNHATHOADON]
GO
/****** Object:  Trigger [dbo].[TRG_THEMHOADON]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_THEMHOADON]
ON [dbo].[CHITIETHOADON] 
AFTER INSERT AS 
BEGIN
	UPDATE BANGDIA
	SET SOLUONGTON = SOLUONGTON - (
		SELECT SOLUONG
		FROM inserted
		WHERE MABD = B.MABD
	)
	FROM BANGDIA B JOIN inserted I
	ON B.MABD = I.MABD
END
GO
ALTER TABLE [dbo].[CHITIETHOADON] ENABLE TRIGGER [TRG_THEMHOADON]
GO
/****** Object:  Trigger [dbo].[TRG_XOADONHAN]    Script Date: 4/13/2019 10:18:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TRG_XOADONHAN] 
ON [dbo].[CHITIETHOADON] 
FOR DELETE AS 
BEGIN
	UPDATE BANGDIA
	SET SOLUONGTON = SOLUONGTON + (
		SELECT SOLUONG 
		FROM deleted 
		WHERE MABd = B.MABD)
	FROM BANGDIA B JOIN deleted D 
	ON B.MABD = D.MABD
END
GO
ALTER TABLE [dbo].[CHITIETHOADON] ENABLE TRIGGER [TRG_XOADONHAN]
GO
USE [master]
GO
